/* Set up body display for centering content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the container */
.container {
    background-color: #faf5da;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Styling for the h1 element */
h1 {
    color: #480808;
    margin-top: 30px;
}

/* Styling for the search bar */
.searchbar {
    width: 80%;
    display: flex;
    justify-content: center;
}

/* Styling for the input field */
.input {
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px 0px 0px 10px;
}

/* Styling for the add button */
.addBtn {
    background-color: #333;
    color: #fff;
    border: 2px solid black;
    width: 50px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}

/* Hover effect for the add button */
.addBtn:hover {
    background-color: #7cff6b;
}

/* Styling for the control buttons */
.controlBtn {
    margin: 30px;
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

/* Styling for the clear button */
.clearBtn {
    background-color: red;
    border-radius: 10px;
}

/* Styling for the task count paragraph */
#taskCount {
    margin-top: 8px;
    font-size: 14px;
    padding: 10px 40px;
    box-shadow: 1px 2px 2px 3px rgba(251, 8, 8, 0.1);
}

/* Styling for the task list */
.list {
    width: 80%;
    padding-left: 0px;
    border: 2px solid #333;
    background-color: #dff3dd;
}

/* Styling for each list item */
li {
    padding: 5px 10px;
    margin: 10px 0px;
    margin-right: 50px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgb(226, 253, 253);
}

/* Styling for the task item */
.item {
    padding: 0 10px;
    overflow: auto;
}

/* Styling for the delete button */
.delete {
    color: red;
    font-size: 18px;
    margin: 0px 5px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

/* Hover effect for the delete button */
.delete:hover {
    color: white;
    background-color: red;
}
